:root {
  /* Primary */
  --accent: #4f46e5;
  --accent-foreground: #ffffff;

  /* Success */
  --success: #16a34a;

  /* Error */
  --danger: #e11d48;
}

.dark {
  --accent: #818cf8;
  --accent-foreground: #111827;

  --success: #4ade80;

  --danger: #fb7185;
}